[submodule "proto"]
	path = proto
	url = git@github.com:takimbirprojeler/eticaret.backend.proto.git
[submodule "shared"]
	path = shared
	url = git@github.com:takimbirprojeler/eticaret.backend.node.shared.git
